@model GG_Shop_v3.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<div class="content-page">
    <div class="container-fluid">
        <h2>Bạn muốn xóa danh mục này?</h2>

       
        <div>
            
            <hr />
            <dl class="dl-horizontal">
                <dl class="dl-horizontal">
                    <dt>Tên danh mục</dt>
                    <dd>@Html.DisplayFor(model => model.Name)</dd>

                    <dt>Mô tả danh mục</dt>
                    <dd>@Html.DisplayFor(model => model.Description)</dd>
                </dl>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger mr-2" /> |
            @Html.ActionLink("Quay về danh sách", "Index", null, new { @class = "btn btn-secondary" })
        </div>
            }
        </div>
    </div>
</div>