@model GG_Shop_v3.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<div class="content-page">
    <div class="container-fluid">
        <h3>Chi tiết danh mục</h3>

        <div>
           
            <hr />
            <dl class="dl-horizontal">
                <dl class="dl-horizontal">
                    <dt>Tên danh mục</dt>
                    <dd>@Html.DisplayFor(model => model.Name)</dd>

                    <dt>Mô tả danh mục</dt>
                    <dd>@Html.DisplayFor(model => model.Description)</dd>
                </dl>


            </dl>
        </div>
        <div class="mt-3">
            @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary mr-2" })
            @Html.ActionLink("Quay về danh sách", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>